/* .topnav{
    background-color:#6D7CF1;
    text-align: center;
    height: 30%;
    -webkit-box-shadow: 2px 2px 5px 0px rgb(211,211,211);
    -moz-box-shadow: 2px 2px 5px 0px rgb(211,211,211);
    box-shadow: 2px 2px 5px 0px rgb(211,211,211);
} */
.page-title{
    font-family:  'Segoe UI';
    font-weight: bold;
    font-weight: 400;
    display: inline-block;
    margin-top:1%;
    /* margin: 0 auto; */
    color: #ffffff;
    font-size:4.5vh;
    /* position: relative; */
    /* border:1px solid black; */
   
 }   
 
.box{
    display:flex;
    flex-direction:row;
    flex-flow: row wrap;
    background: #6D7CF1;
    height:28vh;
    /* border:1px solid black; */

}
.one {
    flex: 1 1 auto;
    /* border:1px solid black; */
 }

  .two {
    flex: 1 1 auto;
    /* border:1px solid black; */

    /* border:1px solid black; */
    /* justify-content: center; */
    top:0px;
    text-align:center;
    /* height:30%; */
  }

  .three {
    flex: 1 1 auto;
    /* border:1px solid black; */

    /* border:1px solid black; */
  }
.container{
    display:flex;
    flex-direction: row;
}
.textbox{
    width: 50%; 
    overflow: hidden;
     font-size: 18px; 
     padding: 5px; 
     margin:18px; 
    margin-top: -10px;
    margin-left: 25%;
    border-bottom: 2px solid #9E9E9E; 
   
}
.login{
        background: #ffffff;
        font-family: 'Segoe UI';
        /* border: 1px solid #6D7CF1; */
        height: 60vh;
        margin: 20px auto 0;
        border-radius:5px;
        width: 50vw;
        margin-top:-5%;
        -webkit-box-shadow: 2px 2px 3px 0px #9E9E9E;
        -moz-box-shadow: 2px 2px 3px 0px #9E9E9E;
        box-shadow: 2px 2px 3px 0px #9E9E9E;
        
      
}
 img {

    height: 7vh;
    width: 7vh;
    /* background-color: red; */
    /* padding: 15px; */
     margin-left: 25%;
    margin-top: 13%; 
 }  

.profile-img {
    margin-top: 4vh;
    margin-left: 45%;
    height: 13vh;
    width: 13vh;
    border-radius: 50%;
    /* border: 1px solid black; */
    background-color: #6D7CF1;
    -webkit-box-shadow: 2px 2px 3px 0px #9E9E9E;
    -moz-box-shadow: 2px 2px 3px 0px #9E9E9E;
    box-shadow: 2px 2px 3px 0px #9E9E9E;
}

.forgot{
    margin-right:25%;
    font-family: 'Segoe UI';
    margin-top:1.3%;
    font-weight: 500;
    font-size: 91%;   
}
.btn{
    background-color: #6D7CF1;
    margin-top:-3px;
    /* text-align: center; */
    color: #ffffff;
    border:none;
    width: 8vw;
    height: 5vh;
    padding:2px;
    margin-left:43%;
    border-radius: 15px;
    font-weight: bold;
    font-size: 17px;
    
}
.login h3{
    margin-top: 15px;
    font-weight: bold;
    font-size:22px;
    font-family: 'Segoe UI';
    margin-left:46%;
    
}

@media only screen and (max-width: 500px) {
    .forgot{
        margin-top:3%;
        margin-right: 26%;
        font-size: 75%;  
        font-weight:bold;      
    } 
    .profile-img{
        margin-left: 33%;

    }
    .login h3{
        margin-left: 18vw;
    } 
.btn{
    width:28vw;
    height:5vh;
    margin-left:22%;
}
.textbox{
   
    margin-left: 25%;
   
   
}
}

.input[type="text"] {  
    text-align: left; 
} 
input[type="text"]::placeholder {  
                  
    color:#9e9e9e;
     font-size: 15px; 
   
} 
input[type="password"]::placeholder {  
                  
    color:#9e9e9e;
    font-size: 15px;
    

} 





.textbox input{
    font-weight: bold;
    border:none;
    outline: none;
    background: none;
    /* align-self: auto;  */
}

.textbox:hover{
    border-bottom: 2px solid #6D7CF1; 
}