<div class="box">
    <div class="one"></div>
    <div class="two">
        <label class="page-title">
            <p class="page-title" style="font-weight:500">Brahmrishi Mission Sr. Sec. School, Abohar (Punjab) - India</p>
            <br>
            <p style="float:right;font-size:3vh;font-style: italic;font-weight: 500;margin-top:-1%">(Affiliated to CBSE (New Delhi))</p>
        </label>
    </div>
    <div class="three "></div>
</div>
<div class="container">
    <div class="login">
        <div class="profile-img">
            <img src="assets/image/profile.png" alt="Avatar">
        </div>
        <h3>LOGIN</h3>
        <div class="textbox">
            <input type="text" placeholder="Username" name=" ">
        </div>
        <div class="textbox">
            <input type="password" placeholder="Password" name=" ">
        </div>
        <p class="forgot" align="right">
            Forgot Password</p>

        <input class="btn" type="button" name=" " value="Login">
    </div>
</div>