<!-- <div class="container-fluid">
  <div class="row bg-overlay" style="border:1px solid black">
    <label class="page-title">Brahmrishi Mission Sr. Sec. School,Abohar(Panjab)-India
        <br>(Affiliated to CBSC (New Delhi))
    </label>
  </div>
</div> -->


<div class="box">
    <div class="one"></div>
    <div class="two">
        <label class="page-title">
            <p class="page-title" style="font-weight:500">Brahmrishi Mission Sr. Sec. School, Abohar (Punjab) - India</p>
            <br>
            <p style="float:right;font-size:3vh;font-style: italic;font-weight: 500">(Affiliated to CBSE (New Delhi))</p>
        </label>
    </div>
    <div class="three "></div>
</div>


<div class="container">
    <div class="registrationpage">
        <div class="headersmall">
            <div class="student-detail">Teacher detail</div>
            <div class="profile-img">
                <img src="assets/image/users.png " alt="Avatar">
            </div>
        </div>
        <div class="input-list">
            <tr>
                <td>
                    <input type="text" class="input" placeholder="Admission number">
                    <input type="text" class="input" placeholder="First name">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="input1" placeholder="Last name">
                    <input type="radio" class="input7" name="Gender" value="Male" />
                    <label>Male</label>&nbsp;
                    <input type="radio" calss="input7 " name="Gender" value="Female" />
                    <label>Female</label>&nbsp;
                    <input type="radio" calss="input7" name="Gender" value="Others" />
                    <label>Others</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input list="classlist" type="text" class="section" style="margin-left:65px; " placeholder="Class" />
                    <datalist id="classlist">
                        <option value="1st">
                            <option value="2nd">
                                <option value="3rd">
                                    <option value="4th">
                                        <option value="5th">
                    </datalist>
                    <input list="sectionlist" type="text " class="section " style="margin-left:9px; " placeholder="Section ">
                    <datalist id="sectionlist">
                        <option value="A">
                            <option value="B">
                                <option value="C">
                                    <option value="D">
                                        <option value="E">
                    </datalist>
                    <input type="text " class="input2 " placeholder="Date of birth ">
                </td>
            </tr>
            <input type="text " class="input4 " placeholder="Address ">

            <tr>
                <td>
                    <input type="text" class="address" style="margin-left:65px; " placeholder="City" />
                    <input type="text " class="address" style="margin-left:9px; " placeholder="District">

                    <input type="text " class="address2" style="margin-left:65px;" placeholder=" State ">
                    <input type="text " class="address2 " style="margin-left:9px " placeholder="Pincode ">
                </td>
            </tr>
            <tr>
                <td>
                    <input list="Departmentlist " type="text " class="input3 " placeholder="Department ">
                    <datalist id="Departmentlist ">
                        <option value="Teaching ">
                            <option value="Non-teaching ">
                                <option value="Others ">
                    </datalist>
                    <input list="Designationlist " type="text " class="input3 " placeholder="Designation ">
                    <datalist id="Designationlist ">
                        <option value="Lecturer ">
                            <option value="Master ">
                                <option value="Primary ">
                    </datalist>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="text " class="input5 " placeholder="Mobile number ">
                    <input type="text " class="input5 " placeholder="Email-id ">
                </td>
            </tr>
            <input type="text " class="input6 " placeholder="Class-incharge ">
        </div>
        <input class="btn " type="button " name=" " value="Submit ">
    </div>

    <!-- </div> -->
    <!-- <div class="col-md-6 "> -->

    <div class="data ">
        <div class="updatepic ">
            <div class="profile-picture ">Profile picutre</div>
            <div class="pic ">
                <img src="assets/image/profile.png " class="img3 " alt="Avatar ">
            </div>
            <div class="editpic ">
                <img src="assets/image/edit.png " class="img2 " alt="Avatar ">
            </div>
        </div>
        <div>
            <input class="btn2 " type="button " name=" " value="Update Teacher Detail ">
        </div>
    </div>

</div>
<!-- <div>
    <input class="btn2 " type="button " name=" " value="update Student Detail ">
  </div> -->