
.page-title{
    font-family:  'Segoe UI';
    font-weight: bold;
    font-weight: 400;
    display: inline-block;
    margin-top:1%;
    /* margin: 0 auto; */
    color: #ffffff;
    font-size:4.5vh;
    /* position: relative; */
    /* border:1px solid black; */
   
 }   
 
.box{
    display:flex;
    flex-direction:row;
    flex-flow: row wrap;
    background: #f66236;
    height:28vh;
    /* border:1px solid black; */

}
.one {
    flex: 1 1 auto;
    /* border:1px solid black; */

   
   
  }

  .two {
    flex: 1 1 auto;
    /* border:1px solid black; */

    /* border:1px solid black; */
    /* justify-content: center; */
    top:0px;
    text-align:center;
    /* height:30%; */
  }

  .three {
    flex: 1 1 auto;
    /* border:1px solid black; */

    /* border:1px solid black; */
  }
  /* .fafa-caret-down{
      margin-top:-20px;
      margin-left: -10px;
      border:1px solid black;

  } */
.container{
    display:flex;
    flex-direction:row;
  
   
}
.registrationpage{
    background: #ffffff;
        font-family: 'Segoe UI';
         border: 1px solid #ffffff;  
           width: 40vw; 
           height:82vh;
          display:flex;  
         margin-top: -6%;
          margin-left: 10%;
          flex-direction: column;
         border-width:10px; 
         margin-bottom:20px;
        border-radius: 5px; 
         -webkit-box-shadow: 2px 2px 5px 0px rgb(211, 211, 211);
         -moz-box-shadow: 2px 2px 5px 0px rgb(211,211,211);
         box-shadow: 2px 2px 5px 0px rgb(211,211,211); 
         /* border:1px solid black; */

}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:  #9E9E9E;
    /* border:1px solid black; */

  }
  .headersmall{
    display:flex;
    flex-direction: row;
  }
 
.student-detail{
    background-color:#6D7CF1;
    color:white;
    font-weight: 900;
     border-radius:4px;
     /* text-align: center;  */
    display:flex;
    flex-direction: row;
    font-size: 16px; 
    height:9vh;
      padding: 3vh 10vw;  
     margin-left:22%;
   font-family: 'Segoe UI';
    margin-top:-5%;
    -webkit-box-shadow: 2px 2px 3px 0px #9E9E9E;
    -moz-box-shadow: 2px 2px 3px 0px #9E9E9E;
    box-shadow: 2px 2px 3px 0px #9E9E9E;
    /* border:1px solid black; */

} 
img {
    height: 9vh;
    width: 9vh;
    margin:5%;
    margin-top:1%;
     padding-left: 6%;
    /* border:1px solid black; */

}
.img3{
    height:16vh;
    width:16vh;
    margin-top:-9vh;
    margin-left: -3.5vw;
      /* margin: 10%;   */
     padding:10px;
    /* border:1px solid black; */

    /* background-color: #f66236; */
}  

.profile-img {
    /* margin-bottom: 60%; */
    margin-top: -5%;
     margin-left: -90%; 
    height: 9vh;
    width: 5vw;
     border-radius: 5px; 
    background-color: #6D7CF1;
    -webkit-box-shadow: 2px 2px 3px 0px #9E9E9E;
    -moz-box-shadow: 2px 2px 3px 0px #9E9E9E;
    box-shadow: 2px 2px 3px 0px #9E9E9E;
    /* border:1px solid black; */

}
.profile-picture{
    background-color:#6D7CF1;
    color:white;
    font-weight: 900;
    border-radius:5px;
     text-align: center; 
    font-size: 16px; 
    display: flex;
    height:9vh;
    width:18vw;
    font-family: 'Segoe UI';
    flex-direction:column;
      padding: 3vh 3vw;  
       margin:4%; 
      margin-left: 5%;  
    margin-top:-5%;
    -webkit-box-shadow: 2px 2px 3px 0px #9E9E9E;
    -moz-box-shadow: 2px 2px 3px 0px #9E9E9E;
    box-shadow: 2px 2px 3px 0px #9E9E9E;
    /* border:1px solid black; */

} 
.input-list .input11{
    
    margin-left:65px;
    margin-top:20px;
    border:0;
    font-weight: 500;
    
    text-decoration: none;
     border-bottom:2px solid #9E9E9E; 
}
/* .input-list .input12{
   margin-left:65px;
   margin-top:20px;
   border:0;
   font-weight: 500;
   text-decoration: none;
    border-bottom:2px solid #9E9E9E; 
} */
.input-list .input13{
    width:12.5vw;
    margin-left:65px;
    margin-top:20px;
    border:0;
    font-weight: 500;
    text-decoration: none;
     border-bottom:2px solid #9E9E9E; 

}

.input-list .address{
    /* display:flex;
   flex-direction: row; */
   width:5.9vw;
   margin-left:65px;
   margin-top:20px;
   border:0;
   font-weight: 500;
   /* font-weight: bold; */
   text-decoration: none;
    border-bottom:2px solid #9E9E9E; 
}

.input-list .address2{
    /* display:flex;
   flex-direction: row; */
   width:5.9vw;
   margin-left:65px;
   margin-top:20px;
   border:0;
   font-weight: 500;
   /* font-weight: bold; */
   text-decoration: none;
    border-bottom:2px solid #9E9E9E; 
}
.updatepic{
    background: #ffffff;
    font-family: 'Segoe UI';
    border-radius: 5px;
    height:48vh;
    display:flex;
    flex-direction: column;
    margin-left: 30%;
    margin-top: -24.2%;  
    width: 20vw;

    -webkit-box-shadow: 2px 2px 5px 0px rgb(211,211,211);
    -moz-box-shadow: 2px 2px 5px 0px rgb(211,211,211);
    box-shadow: 2px 2px 5px 0px rgb(211,211,211); 
    /* border:1px solid black; */

 }     
 .data{
    display:flex;
    flex-direction: column;
    /* margin: 90px; */
    /* width: 35vw; */
    }
 .editpic{
        background-color: #6D7CF1;
        border-radius:50%;
        height: 16%;
        width:18%;
         margin-left:65%; 
        margin-top: -10%;
        /* border:1px solid black; */
    
 }
     .img2{
        height:5vh;
        width:5vh;
          margin: 18%;  
         padding:4px;
        /* border:1px solid black; */
    
        /* background-color: #f66236; */
 }  
.input-list{
     display: flex;
     flex-direction:column;
     margin-right: 5%;
     
     /* padding: 30px; */
     /* margin-top: -3.2%; */
 }
 .input-list .input1:hover{
 /* border-bottom: 2px solid #6D7CF1; */
 border:1px solid #6D7CF1;
 border-bottom: 2px solid #6D7CF1;
}
    
.input-list .input:hover{
    border:1px solid #6D7CF1;
 border-bottom: 2px solid #6D7CF1;}

 .input-list .input5:hover{
    border:1px solid #6D7CF1;
 border-bottom: 2px solid #6D7CF1;}
    
 .input-list .input4:hover{
    border:1px solid #6D7CF1;
 border-bottom: 2px solid #6D7CF1;}

 .input-list .input3:hover{
    border:1px solid #6D7CF1;
 border-bottom: 2px solid #6D7CF1;}

.input-list .input2:hover{
    border:1px solid #6D7CF1;
 border-bottom: 2px solid #6D7CF1;}

 .input-list .input11:hover{
    border:1px solid #6D7CF1;
 border-bottom: 2px solid #6D7CF1;}

        
.input-list .section:hover{
    border:1px solid #6D7CF1;
    border-bottom: 2px solid #6D7CF1;}

  
    .input-list .address:hover{
        border:1px solid #6D7CF1;
        border-bottom: 2px solid #6D7CF1;
    }

    .input-list .address2:hover{
        border:1px solid #6D7CF1;
        border-bottom: 2px solid #6D7CF1;
    }
    .input-list .input13:hover{
        border:1px solid #6D7CF1;
        border-bottom: 2px solid #6D7CF1;
    }
    .input-list .input9:hover{
        border:1px solid #6D7CF1;
        border-bottom: 2px solid #6D7CF1;
    }


 label {
    /* font-size: 20px; */
    font-weight: 500;
    color:#9E9E9E;
    /* margin-top:20px; */
    margin-right:4px;
  }
 .input-list .input{
     /* flex-direction: row; */
     margin-left:65px;
     margin-top:20px;
     border:0;
     font-weight: 500;
     text-decoration: none;
      border-bottom:2px solid #9E9E9E; 
 }
 .input-list .input9{
    /* flex-direction: row; */
    margin-left:65px;
    margin-top:20px;
    border:0;
    font-weight: 500;
    text-decoration: none;
     border-bottom:2px solid #9E9E9E; 
}
 .input-list .input7{
    /* display:flex;
   flex-direction: row; */
      margin-left:58px;  
      /* margin-right: 2px; */
    /* padding: 25px; */
   margin-top:20px;
/* background-color: #000000; */
   font-weight: 500;
   text-decoration: none;
    
}
  .input-list .input1{
     /* display:flex;
    flex-direction: row; */
     margin-left:65px; 
    margin-top:20px;
    border:0;
    /* background-color: #9E9E9E; */
    font-weight: 500;
    text-decoration: none;
     border-bottom:2px solid #9E9E9E; 
}
.input-list .input2{
    /* display:flex;
   flex-direction: row; */
   margin-left:65px;
   margin-top:20px;
   border:0;
   font-weight: 500;
   
   text-decoration: none;
    border-bottom:2px solid #9E9E9E; 
}
.input-list .section{
     width:5.9vw; 
    /* margin-left:30px;  */
    margin-top:20px;
    border:0;
    font-weight: 500;
    text-decoration: none;
    border-bottom:2px solid #9E9E9E;
}
.input-list .input4{
    margin-left:65px;
    margin-top:20px;
    border:0;
    font-weight: 500;
    width:81%; 
    text-decoration: none;
    border-bottom:2px solid #9E9E9E; 

}
input::-webkit-calendar-picker-indicator {
    opacity: 100;
    color:#9E9E9E;
 }

.input-list .input3{
    /* display:flex;
   flex-direction: row; */
   margin-left:65px;
   margin-top:20px;
   border:0;
   font-weight: 500;
   /* font-weight: bold; */
   text-decoration: none;
    border-bottom:2px solid #9E9E9E; 
}

.input-list .input5{
    /* display:flex;
   flex-direction: row; */
   margin-left:65px;
   margin-top:20px;
   border:0;
   font-weight: 500;
   /* font-size: 10px; */
   text-decoration: none;
    border-bottom:2px solid #9E9E9E; 
}
.btn{
    background-color: #6D7CF1;
    margin-top:3%;
    /* text-align: center; */
    color: #ffffff;
    border:none;
     width: 80px;
    height: 5vh;
    border-radius: 15px;
    font-weight: bold;
    margin-left: 42%;
   /* margin-top: 1%; */
   /* border:1px solid black; */

}
 /* input[type=radio]:checked  { 
    background-image: none;
     background-color:black;
 }  */
  
 
.header2{
    display: flex;
    flex-direction: column;
}

    

 .btn2{
    background-color: #6D7CF1;
    margin-top:3vh;
    width: 11.5vw;
    height: 5vh;
    width:14vw;
    color: #ffffff;
    border:none;
    
    border-radius: 15px;
    font-weight: bold;
    margin-top: 15%;
     margin-left:48%;
     /* margin-top:-10%;  */
   
}
.pic{
    background-color: #6D7CF1;
    height: 6vh;
    width: 10vw;
    border-radius: 5px;
    padding: 14vh 6vw;
    margin-left: 54px;
    margin-top:10px;
}

@media only screen and (max-width: 500px) {
    .student-detail{
        margin-top: -8%; 
         width:40vw;
         font-size: 12px;
        height:9vh; 
        margin-left:24%; 
       /* border:1px solid black; */

   } 

   .profile-img{ 
       margin-top:-8%;
       margin-left:-105%; 
        width:23%;
   }
  
     
   img{
    width:8vh;
    height: 9vh;
     /* margin-left: -1px;  */
     padding: 2px; 
     margin-top: -1%;
}

   .container{
    display:flex;
    flex-direction:column;
    /* border:1px solid black; */

}
   .profile-picture{
       margin-top: -5%;
       height: 9vh;
       padding:4vw 4vh;
       font-size: 12px;
         margin-left: 2%;  
       width:53vw;
   }
   
 .registrationpage{
      width:55vw; 
       height:2%; 
     /* border:1px solid black; */
 }
 .input-list{
    display: flex;
    flex-direction:column;
    margin-left:-10%;
}
.input-list .input4{
    width:34vw;
}
.btn{
    margin-left:20%;
    width:60%;
    margin-top:4%;
}
.btn2{
    width: 64%;
    height: 5vh;
    margin-left:-2%;
    margin-top:4%;
}
.input-list .section{
    width:16vw;
}
.data{
    display:flex;
    flex-direction: column;
    margin: 100px;
    /* width: 35vw; */
    }
    .updatepic{
        width:55vw;
        margin-left:-22%;
    }
    .pic{
        background-color: #6D7CF1;
        height: 6vh;
        width: 33vw;
        border-radius: 5px;
        padding: 14vh 6vw;
        margin-left: 54px;
        margin-top:10px;
    }
    .img3{
        height:16vh;
        width:16vh;
        margin-top:-9vh;
        margin-left: 1vw;
          /* margin: 10%;   */
         padding:10px;
        /* border:1px solid black; */
    
        /* background-color: #f66236; */
    }  
    .input-list .address{
        width:16vw;
    }
    .input-list .address2{
        width:16vw;
    }
    .input-list .input13{
        width:34vw;
    }
   
/* .headersmall{
    margin:-1%;
} */
/* .data{
    display:flex;
    flex-direction:row;
} */
 }
